<div class="container">
  <c-card class="u-text--centered">
    <div class="head">
      <img
        class="u-image--rounded"
        *ngIf="user?.picture"
        [src]="user?.picture"
      />
    </div>
    <div class="detail">
      <c-tabs>
        <c-tab
          [src]="'./assets/icons/svg/misc/user.svg'"
          [description]="'Hi, My name is'"
          [value]="user?.name"
        >
        </c-tab>
        <c-tab
          [src]="'./assets/icons/svg/misc/email.svg'"
          [description]="'My email address is'"
          [value]="user?.email"
        >
        </c-tab>
        <c-tab
          [src]="'./assets/icons/svg/misc/calendar.svg'"
          [description]="'My birthday is'"
          [value]="user?.dob"
        >
        </c-tab>
        <c-tab
          [src]="'./assets/icons/svg/misc/map-location.svg'"
          [description]="'My address is'"
          [value]="user?.address"
        >
        </c-tab>
        <c-tab
          [src]="'./assets/icons/svg/misc/call.svg'"
          [description]="'My phone number is'"
          [value]="user?.cell"
        >
        </c-tab>
        <c-tab
          [src]="'./assets/icons/svg/misc/locked.svg'"
          [description]="'My password is'"
          [value]="user?.password"
        >
        </c-tab>
      </c-tabs>
    </div>
  </c-card>
</div>
